.input {
	display: flex;
	height: 3em;
	flex: 1;
	background-color: rgb(42, 52, 110);
	color: rgb(171, 173, 197);
	justify-content: flex-end;
	padding: 0.3em;
	font-weight: bold;
	font-size: 2em;
	align-items: center;
}
