.App {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}

#clear {grid-area: clear;}
#divide {grid-area: divide;}
#times {grid-area: times;}
#seven {grid-area: seven;}
#eight {grid-area: eight;}
#nine {grid-area: nine;}
#minus {grid-area: minus;}
#four {grid-area: four;}
#five {grid-area: five;}
#six {grid-area: six;}
#plus {grid-area: plus;}
#one {grid-area: one;}
#two {grid-area: two;}
#three {grid-area: three;}
#equals {grid-area: equals;}
#zero {grid-area: zero;}
#decimal {grid-area: decimal;}

.grid-container {
	display: grid;
	grid-template-areas:
		'clear b divide times'
		'seven eight nine minus'
		'four five six plus'
		'one two three equals'
		'zero zero decimal equals';
	grid-gap: 10px;
	background-color: rgb(42, 52, 110);
}

.row {
	display: flex;
	width: 100%;
}
